* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #272937;
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1345px;
  margin: 0 auto;
}
#menu__toggle {
  opacity: 0;
}
.menu-btn {
  cursor: pointer;
  z-index: 1;
}
.hamburger-menu {
  display: none;
}
.menu-btn > img,
.menu-btn > img::before,
.menu-btn > img::after {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 3%;
}
.menu__box {
  display: block;
  position: fixed;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  z-index: 2;
  margin: 0;
  padding: 80px 0px;
  list-style: none;
  text-align: center;
  background-color: #2B2A39;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.305);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.305);
}
.div-darken {
  position: fixed;
  display: block;
  visibility: hidden;
  top: 0;
  left: -100%;
  background-color: #0000007c;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0;
  list-style: none;
}
.menu__item {
  display: block;
  text-align: left;
  width: 100%;
  padding: 25px;
  padding-left: 35px;
  color: #333;
  font-size: 18px;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #65616125;
  color: #ffffff;
}
.menu__item-top {
  margin-top: 30px;
}
#menu__toggle:checked ~ .menu__box {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  left: 50%;
}
#menu__toggle:checked ~ .div-darken {
  visibility: visible;
  left: 0%;
}
.main {
  height: 1000px;
  background: url(bg.png) center center no-repeat;
  padding-top: 50px;
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 61px;
}
.main-header a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}
.main-header .burger {
  display: none;
}
.main-header .header-logo {
  margin-right: auto;
  background: url(Logo.png);
  width: 152px;
  height: 61px;
}
.main-header .header-reg {
  margin-left: auto;
  padding-right: 3%;
}
.main-header .header-pages a {
  padding-right: 40px;
}
.main-header .header-button {
  cursor: pointer;
  color: #fff;
  padding: 19px 35px 21px 35px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
          box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
  background: #f04451;
  outline: none;
  border: none;
}
.main-content {
  width: 53.7%;
  margin-top: 147px;
  margin-bottom: 110px;
}
.main-content small {
  color: #fff;
  opacity: 50%;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.main-content .red-circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #f04451;
  display: inline-block;
}
.main-content p {
  display: inline-block;
}
.main-content h1 {
  margin: 0;
  margin-top: 15px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 25px;
}
.main-content .title-box {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-content .title-box .title-item {
  padding-top: 10px;
}
.main-content .title-box p {
  color: #fff;
  opacity: 75%;
  padding-left: 5px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}
.main-content .title-box .title-item-uniqe-1 {
  padding-right: 57px;
}
.main-content .title-box .title-item-uniqe-2 {
  padding-right: 122px;
}
.main-content .title-buttons {
  margin-top: 45px;
}
.main-content .title-buttons .red-btn {
  cursor: pointer;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 4%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
          box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
  background: #f04451;
  padding: 19px 35px 21px 35px;
  outline: none;
  border: none;
  margin-right: 15px;
}
.main-content .title-buttons .white-btn {
  cursor: pointer;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 4%;
  padding: 19px 35px 21px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background: #00000000;
}
.main .subtitle {
  text-align: center;
  color: #fff;
  opacity: 50%;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}
.main .subtitle-arrow {
  text-align: center;
  margin: 0;
  margin-top: 5px;
}
@media (max-width: 1400px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 1330px) {
  .main-content h1 {
    font-size: 56px;
  }
}
@media (max-width: 1260px) {
  .header-pages {
    display: none;
  }
  .header-reg {
    padding-left: 300px;
  }
  .hamburger-menu {
    display: inline-block !important;
    margin-left: auto;
  }
  .title-box {
    width: 70%;
  }
  .main-content {
    width: 60%;
    margin-top: 43px;
  }
  .main-content h1 {
    font-size: 45px;
  }
  .main {
    height: 800px;
    background: url(bg-2.png) center center no-repeat;
  }
  .subtitle,
  .subtitle-arrow {
    display: none;
  }
}
@media (max-width: 960px) {
  .main-content h1 {
    font-size: 40px;
  }
  .main-content {
    width: 75%;
  }
  .header-reg {
    padding: 0;
  }
  .title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 641px) {
  .main-content .title-box .title-item-uniqe-1 {
    padding-right: 0px;
  }
  .main-content .title-box .title-item-uniqe-2 {
    padding-right: 0px;
  }
  .main-content .title-box {
    width: 101%;
  }
  .main-content .title-box .title-item p {
    font-size: 16px;
  }
  .main-content .title-buttons .red-btn,
  .main-content .title-buttons .white-btn {
    font-size: 14px;
  }
  .main-content .title-buttons .red-btn {
    margin-bottom: 15px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .main {
    background: url(bg-3.png) center center no-repeat;
  }
  .main-content {
    width: 95%;
  }
  .main-content h1 {
    font-size: 40px;
  }
  .header-pages {
    display: none;
  }
  .header-reg,
  .header-button {
    display: none;
  }
}
@media (max-width: 482px) {
  .main {
    background: url(bg-4.png) center center no-repeat;
  }
  .main-content small {
    font-size: 14px;
  }
  .main-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .main-content .title-box {
    width: 105%;
  }
  .main-content .title-box .title-item .red-circle {
    height: 5px;
    width: 5px;
  }
  .main-content .title-box .title-item p {
    font-size: 14px;
  }
  .title-buttons {
    width: 300px;
  }
}
